<html>
	<head>
		<title>Oauth2</title>
		<meta charset="utf-8">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link rel="https://github.com/InigoRomero/42ItTest/blob/main/login.css">
		<script src="../login.css"></script>
		<style>

		</style>
	</head>
	<body>
		<div class="content text-center">
			<h1>42 Espía</h1>
			<img src="https://raw.githubusercontent.com/InigoRomero/42ItTest/main/nodeJS/captures/icon.png?token=AK5DQM5DJC3HF4ZI6JZM4STATFGJ4" widt=300 height=200>
			<p>by Iromero-</p>
			<br></br>
		</div>
		<center>
			<div class="justify-content-center fadeInDown">
				<div id="formContent">
					<div class="fadeIn first">
					<img src="https://raw.githubusercontent.com/InigoRomero/42ItTest/main/42Icon.jpeg?token=AK5DQMZPDGPOKG2TZ3CF6XDATK74Y" id="icon" alt="User Icon" />
					</div>
					<form>
						<a href="https://api.intra.42.fr/oauth/authorize?client_id=3390c897e9313d75feb7518f9aa8ea1024e200d81915588048d7b337f9758f57&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fcallback&response_type=code"><button type="button" class="btn btn-success">Log in</button></a></br></br>
					</form>
					<div id="formFooter">
					<p class="underlineHover"> Entra si quieres saber todo lo que 42 sabe de tí </p>
					</div>
				</div>
			</div>
		</center>
	</body>
</html>
